footer {
  margin-top: 200px;
}

footer a.canvartFont {
  font-family: Megrim !important;
  font-size: 1.8rem;
}

footer p.commercial {
  font-weight: 100 !important;
}

footer h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 300;
}

footer li {
  font-weight: 200;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}
