<section class="container head">
  <div class="row">
    <div>
      <h1 class="text-center text-md-start">
        <svg
          width="92"
          height="18"
          viewBox="0 0 92 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.839746 8.90088L9.5 17.5611L18.1603 8.90088L9.5 0.240624L0.839746 8.90088ZM9.5 10.4009H91.5V7.40088H9.5V10.4009Z"
            fill="black"
          />
        </svg>
        Welcome To CanvArt App
        <svg
          width="92"
          height="18"
          viewBox="0 0 92 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M91.1603 8.90088L82.5 0.240624L73.8397 8.90088L82.5 17.5611L91.1603 8.90088ZM0.5 10.4009H82.5V7.40088H0.5V10.4009Z"
            fill="black"
          />
        </svg>
      </h1>
    </div>
  </div>
  <p class="fs-3 pt-3 pb-5">
    <strong>Sign Up</strong> & <strong>Get Ready</strong> To Explore Powerful
    And Beautiful NFT From Recongnized Artists
  </p>
</section>

<section class="container">
  <form [formGroup]="subscribeForm" action="post" (submit)="submit()">
    <div class="center-container">
      <div class="input-block">
        <input
          type="text"
          name="firstName"
          required
          spellcheck="false"
          formControlName="firstName"
        />
        <span class="placeholder"> Firstname </span>
      </div>
      <div class="input-block">
        <input
          type="text"
          name="lastName"
          required
          spellcheck="false"
          formControlName="lastName"
        />
        <span class="placeholder"> Lastname </span>
      </div>
      <div class="input-block">
        <input
          type="email"
          name="email"
          required
          spellcheck="false"
          formControlName="email"
        />
        <span class="placeholder"> Email </span>
      </div>

      <div class="input-block">
        <input
          type="text"
          name="gender"
          required
          spellcheck="false"
          formControlName="gender"
        />
        <span class="placeholder"> Gender </span>
      </div>

      <div class="input-block">
        <input
          type="date"
          name="birthDate"
          required
          spellcheck="false"
          formControlName="birthDate"
        />
      </div>

      <div formGroupName="address">
        <div class="input-block">
          <input
            type="text"
            name="input-text"
            required
            spellcheck="false"
            formControlName="street"
          />
          <span class="placeholder"> Street </span>
        </div>
        <div class="input-block">
          <input
            type="text"
            name="zip_code"
            required
            spellcheck="false"
            formControlName="zipCode"
          />
          <span class="placeholder"> Zip Code </span>
        </div>
        <div class="input-block">
          <input
            type="text"
            name="city"
            required
            spellcheck="false"
            formControlName="city"
          />
          <span class="placeholder"> City </span>
        </div>
        <div class="input-block">
          <input
            type="text"
            name="country"
            required
            spellcheck="false"
            formControlName="country"
          />
          <span class="placeholder"> Country </span>
        </div>
      </div>
      <div class="input-block">
        <input
          type="password"
          name="password"
          required
          spellcheck="false"
          formControlName="password"
        />
        <span class="placeholder"> Password </span>
      </div>

      <button type="submit" class="col-md-5 mt-5">Sign Up And Get Ready</button>
    </div>
  </form>
</section>
