<!-- <section class="container">
  <ngx-typed-js
    [showCursor]="false"
    [strings]="[
      'Art is too important',
      'not',
      'to share',
      'Art is too important not to share'
    ]"
    [loop]="false"
  >
    <h2 class="typing text-center">-</h2>
  </ngx-typed-js>
</section> -->

<section class="container mt-5">
  <h2 class="text-center text-capitalize">
    <svg
      width="92"
      height="18"
      viewBox="0 0 92 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.839746 8.90088L9.5 17.5611L18.1603 8.90088L9.5 0.240624L0.839746 8.90088ZM9.5 10.4009H91.5V7.40088H9.5V10.4009Z"
        fill="black"
      />
    </svg>
    Art is too important not to share
    <svg
      width="92"
      height="18"
      viewBox="0 0 92 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M91.1603 8.90088L82.5 0.240624L73.8397 8.90088L82.5 17.5611L91.1603 8.90088ZM0.5 10.4009H82.5V7.40088H0.5V10.4009Z"
        fill="black"
      />
    </svg>
  </h2>
  <div class="row justify-content-center skeu p-5">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-4 d-flex justify-content-center">
        <img
          class="w-75 rounded-3"
          src="../../../assets/img/orange.png"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <p>
          CanvArt has been founded in september 2022 by several gallery owners
          who wish to create more proximity between artists and viewers. Our
          mission : to build with you a real and strong connection through NFTs
          from well-known artists. All digital arts presented on this website
          come from the most famous and commited artists.CanvArt has been
          founded in september 2022 by several gallery owners who wish to create
          more proximity between artists and viewers. Our mission : to build
          with you a real and strong connection through NFTs from well-known
          artists. All digital arts presented on this website come from the most
          famous and commited artists.
        </p>
      </div>
    </div>
  </div>
</section>
