<section class="container head">
  <h1>
    <svg
      width="92"
      height="18"
      viewBox="0 0 92 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.839746 8.90088L9.5 17.5611L18.1603 8.90088L9.5 0.240624L0.839746 8.90088ZM9.5 10.4009H91.5V7.40088H9.5V10.4009Z"
        fill="black"
      />
    </svg>
    Latest Collection
    <svg
      width="92"
      height="18"
      viewBox="0 0 92 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M91.1603 8.90088L82.5 0.240624L73.8397 8.90088L82.5 17.5611L91.1603 8.90088ZM0.5 10.4009H82.5V7.40088H0.5V10.4009Z"
        fill="black"
      />
    </svg>
  </h1>
  <p class="fs-3 pt-3 pb-5">
    Browse Best <strong>Collections</strong> From Notorious Artists
  </p>
</section>

<section
  *ngFor="let collection of collections; let i = index"
  class="container my-5 collection"
>
  <div
    class="border nft-container collection"
    [ngStyle]="{
      'background-image': 'url(' + backgroundImageUrl[i] + ')',
      'backdrop-filter': 'blur(35px)'
    }"
  >
    <div class="blur p-5">
      <div
        class="d-flex justify-content-start align-items-center collectionInfo"
      >
        <img
          class="collectionLogo"
          src="../../../assets/img/iconLogo.png"
          alt=""
        />
        <h2 class="text-light my-5 fs-5">
          <strong>Featured :</strong> {{ collection.name }}
        </h2>
      </div>
      <div class="row justify-content-around gy-5 gx-5">
        <div *ngFor="let nft of collection.NFT" class="card col-md-4 p-0">
          <div class="card-inner">
            <div class="card-front d-flex flex-column justify-content-end">
              <img src="{{ nft.img }}" alt="" />
            </div>
          </div>
          <div class="info p-2">
            <h3 class="fs-5">{{ nft.name }}</h3>
            <span class="d-block">Creator : {{ nft.creator }}</span>
            <span class="d-block">Price : {{ nft.launchPriceEuro }}</span>
            <div class="pt-5 pb-2">
              <a [routerLink]="['/nftDetails', nft.id]"
                ><span>Details</span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-info-circle ms-2"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                  /></svg
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
