<section class="container">
  <h2>
    <svg
      width="92"
      height="18"
      viewBox="0 0 92 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.839746 8.90088L9.5 17.5611L18.1603 8.90088L9.5 0.240624L0.839746 8.90088ZM9.5 10.4009H91.5V7.40088H9.5V10.4009Z"
        fill="black"
      />
    </svg>
    Edit My Profil
    <svg
      width="92"
      height="18"
      viewBox="0 0 92 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M91.1603 8.90088L82.5 0.240624L73.8397 8.90088L82.5 17.5611L91.1603 8.90088ZM0.5 10.4009H82.5V7.40088H0.5V10.4009Z"
        fill="black"
      />
    </svg>
  </h2>
</section>

<section class="container">
  <form [formGroup]="editProfilForm" action="patch" (submit)="submit()">
    <div class="center-container">
      <div class="input-block">
        <input
          type="text"
          name="firstName"
          required
          spellcheck="false"
          formControlName="firstName"
        />
        <span class="placeholder"> Pseudo </span>
      </div>

      <button type="submit" class="col-md-5 mt-5">UPDATE</button>
    </div>
  </form>
</section>
