<section class="container">
  <div class="row">
    <div>
      <h1 class="text-center text-md-start">
        <svg
          width="92"
          height="18"
          viewBox="0 0 92 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.839746 8.90088L9.5 17.5611L18.1603 8.90088L9.5 0.240624L0.839746 8.90088ZM9.5 10.4009H91.5V7.40088H9.5V10.4009Z"
            fill="black"
          />
        </svg>
        My Gallery
        <svg
          width="92"
          height="18"
          viewBox="0 0 92 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M91.1603 8.90088L82.5 0.240624L73.8397 8.90088L82.5 17.5611L91.1603 8.90088ZM0.5 10.4009H82.5V7.40088H0.5V10.4009Z"
            fill="black"
          />
        </svg>
      </h1>
    </div>
    <div
      *ngIf="connectedUser"
      class="d-flex flex-column gap-5 mt-5 align-items-start"
    >
      <div class="d-flex align-items-center gap-5">
        <img class="picture-profile" src="{{ connectedUser.picture }}" alt="" />
        <span class="fs-3"
          >@ {{ connectedUser.firstName }} {{ connectedUser.lastName }}</span
        >
      </div>
      <div>
        <p>
          {{ connectedUser.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="border p-5 nft-container">
      <div class="row justify-content-evenly gy-5">
        <div *ngFor="let nft of connectedUserNfts" class="card col-md-4 p-0">
          <div class="card-inner">
            <div class="card-front d-flex flex-column justify-content-end">
              <img src="{{ nft.img }}" alt="" />
            </div>
          </div>
          <div class="info p-2">
            <h3 class="fs-5">
              <strong>{{ nft.name }}</strong>
            </h3>

            <p>{{ excerptedDescriptions[nft.id] }}</p>

            <span class="d-block"
              >Price :
              {{ nft.launchPriceEth * priceEth.EUR | number : "1.2-2" }}
              <strong> €</strong></span
            >
            <span class="d-block"
              >Price :
              {{ nft.launchPriceEth }}
              <strong> ETH</strong></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
