<section class="container head">
  <div class="row">
    <div>
      <h1 class="text-center text-md-start">
        <svg
          width="92"
          height="18"
          viewBox="0 0 92 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.839746 8.90088L9.5 17.5611L18.1603 8.90088L9.5 0.240624L0.839746 8.90088ZM9.5 10.4009H91.5V7.40088H9.5V10.4009Z"
            fill="black"
          />
        </svg>
        My Gallery
        <svg
          width="92"
          height="18"
          viewBox="0 0 92 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M91.1603 8.90088L82.5 0.240624L73.8397 8.90088L82.5 17.5611L91.1603 8.90088ZM0.5 10.4009H82.5V7.40088H0.5V10.4009Z"
            fill="black"
          />
        </svg>
      </h1>
    </div>
    <div
      *ngIf="connectedUser"
      class="d-flex flex-column gap-5 mt-5 align-items-start"
    >
      <div class="d-flex align-items-center gap-5">
        <img class="picture-profile" src="{{ connectedUser.picture }}" alt="" />
        <span class="fs-3"
          >@ {{ connectedUser.firstName }} {{ connectedUser.lastName }}</span
        >
      </div>
      <div>
        <p>
          {{ connectedUser.description }}
        </p>

        <span class="h4">
          You have {{ nftNumber }} NFT's in your collection</span
        >
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="border p-5 nft-container">
      <div class="row justify-content-evenly gy-5 gx-3">
        <div *ngFor="let nft of connectedUserNfts" class="card col-md-4 p-0">
          <div class="card-inner">
            <div class="card-front d-flex flex-column justify-content-end">
              <img src="{{ nft.img }}" alt="" />
            </div>
          </div>
          <div class="info p-2">
            <h3 class="fs-5">
              <strong>{{ nft.name }}</strong>
            </h3>

            <p>{{ excerptedDescriptions[nft.id] }}</p>

            <span class="d-block"
              >Price :
              {{ nft.launchPriceEth * priceEth | number : "1.2-2" }}
              <strong> €</strong></span
            >
            <span class="d-block"
              >Price :
              {{ nft.launchPriceEth }}
              <strong> ETH </strong></span
            >
            <div class="d-flex justify-content-between p-3">
              <div class="py-2">
                <a (click)="deleteNftAndUpdateNftList(nft.id)" routerLink=""
                  ><span
                    class="d-flex justify-content-center align-items-center gap-2"
                    >DELETE
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                      />
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                      /></svg></span
                ></a>
              </div>
              <div class="py-2">
                <a [routerLink]="['/edit/nft', nft.id]"
                  ><span
                    class="d-flex justify-content-center align-items-center gap-2"
                    >EDIT
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                      /></svg></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
