form,
h1 {
  margin-top: 200px;
}

input,
button[type="submit"] {
  box-shadow: -4px -4px 10px #ffffff, 4px 4px 10px rgba(153, 166, 206, 0.3),
    inset -2px -2px 4px #ffffff, inset 2px 2px 5px rgba(153, 166, 206, 0.3) !important;
  border-radius: 10px;
}

button[type="submit"] {
  border: none;
  background-color: #ffffff;
  padding: 5px;
}
