<section class="container">
  <h1 class="text-center">Welcome to CanvArt</h1>
  <form
    [formGroup]="loginForm"
    method="POST"
    class="row justify-content-center"
    (ngSubmit)="
      onSubmit({
        username: emailLogin.value,
        password: passwordLogin.value
      })
    "
  >
    <div class="mb-3 col-md-8">
      <label for="InputEmail" class="form-label">Email address</label>
      <input
        type="email"
        name="emailLogin"
        formControlName="emailLogin"
        #emailLogin
        class="form-control"
        id="InputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3 col-md-8">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        name="passwordLogin"
        formControlName="passwordLogin"
        #passwordLogin
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
      <button type="submit" class="col-md-4 mt-5">Submit</button>
    </div>
  </form>
</section>
