<header>
  <nav class="fixed-top bg-white d-none d-md-flex">
    <div class="logo">
      <a routerLink=""
        ><img src="../../assets/img/iconLogo.png" alt="CanvArt"
      /></a>
      <a href=""><span>CanvArt</span></a>
    </div>
    <div class="searchBar">
      <input
        type="search"
        id=""
        name=""
        placeholder="Search NFTs, artists & collections"
      />
    </div>
    <div class="d-flex align-items-center gap-4">
      <div class="dropdown">
        <a
          class="btn btn-active-border-red dropdown-toggle"
          routerLink=""
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Explore
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="./exploreNft.html">NFTs</a></li>
          <hr class="w-75 my-0 mx-auto" />
          <li><a class="dropdown-item" href="#">Collections</a></li>
          <hr class="w-75 my-0 mx-auto" />
          <li><a class="dropdown-item" href="#">Users</a></li>
          <hr class="w-75 my-0 mx-auto" />
          <li><a class="dropdown-item" href="#">Trending</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a
          class="btn dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Community
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Magazine</a></li>
          <hr class="w-75 my-0 mx-auto" />
          <li><a class="dropdown-item" href="#">Blog</a></li>
          <hr class="w-75 my-0 mx-auto" />
          <li><a class="dropdown-item" href="#">Topic</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a
          class="btn"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Events
        </a>
      </div>
    </div>
  </nav>
</header>
