section.canvas {
  margin-top: 120px;
}

div.poster {
  box-shadow: -4px -4px 10px #ffffff, 4px 4px 10px rgba(153, 166, 206, 0.3),
    inset -2px -2px 4px #ffffff, inset 2px 2px 5px rgba(153, 166, 206, 0.3);
  border-radius: 20px;
}

div.poster img {
  height: 70vh;
  border-radius: 20px;
}

img {
  transition: transform 0.3s ease; /* Ajustez la durée et le type d'animation selon vos préférences */
}

#myChart {
  margin: auto;
  max-height: 70vh;
  width: 70vw;
  max-width: 70vw;
}
